/*********************************************************************************************

Version : Révision 5.5.0.3
Changements récents : responsive

/***********************************************************************************************

0. CSS Reset  --------------------------------  Mise à zéro des compteurs !
1. Récupération de l'ancien omnilogie  -------  Récupérations des paramétres de l'ancienne version
2. Les listes / Couleurs  --------------------  Les listes pour les articles / Couleurs des équipes
3. Page proposition  -------------------------  *
4. Top ---------------------------------------  Le top du site (header)
5. Menu - Top  -------------------------------  Le menu du site (dans header)
6. Barre de recherche ------------------------  La barre de recherche
7. Les Label (envoie etc...  -----------------  Tous les labels - input !
8. Blocs Global ------------------------------  Les premiers grands blocs
9. Menu de droite ----------------------------  Le menu de droite
10. Contenu de gauche ------------------------  Le contenu (gauche)
11. Les Titres -------------------------------  Les différents titres (h1, h2, h3) + le top
12. Les Messages -----------------------------  Les messages (avertissement, erreur, attention...)
13. La page des catégories -------------------  *
14. La page d'administration -----------------  *
15. Textes en fin d'article ------------------  Le petit plus, etc..
16. Les séparations --------------------------  les HR
17. Article du jour + Contenu omnilogisme ----  (à Revoir)
18. Omni Start -------------------------------  La classe omnistart pour l'affichage de départ
19. Teaser, Pager ----------------------------  La pagination + la classe des Teaser
20. Page liste des Auteurs -------------------  *
21. Page - Espace membre ---------------------  *
22. *Erreur 404  -----------------------------  (...)
23. *FOOTER ----------------------------------  Le pied de page (Non fini)

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
body { margin: 0; padding: 0; font-family: "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;font-size: 0.8em; line-height: 1.4;background-color:#efefed;/*F2F2F2*/ height: 100%;}
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {display: block;}
ul, ol { margin: .75em 0 .75em 10px;  padding: 0; list-style-type: none; } /* Listes */
li { padding-left: 10px; margin-bottom: 5px;}
tt { font-size:12px;}
#lastactions small, #last-activity small{ font-size:10px; color:#999999;} /* Liens */
a { text-decoration: none; }
a:link { color: #3c3c3c; }
a:visited { color: #000; }
a:hover, a:focus, a:active { text-decoration: underline;}
a:focus, a:active { outline: none; }
a img, hr {  border: none; }
p { margin: .75em 0;} /* Paragraphes */
em { font-style: italic; } /* autres */
strong { font-weight: bold; }
h4 {margin: 0; padding: 0;}
.nonflottant, .omnilogisme img { max-width:675px;}
aside + section#content h3 + * {margin-top:37px} /* décalage lors d'un aside*/
.omnilogisme img {display:block; margin:auto;}
span.email {direction:rtl;unicode-bidi:bidi-override;}
blockquote{color:rgb(79,129,189);border-bottom:1px solid;background: url('img/gui.png') no-repeat;padding-left:25px;}
blockquote p{text-indent:0;}
blockquote p:first-letter{ color:black!important;}
blockquote p:after{color:black;content:"»";}
.auteur{text-align:right;font-style:italic;color:rgb(128,128,128);}
.auteur:first-letter{color:rgb(128,128,128);font-size:1em;}
span a:hover{color:#CC0000;}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 1. Récupération de l'ancien omnilogie -------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.TexTexte{white-space:nowrap;font-style:italic;font-size:90%;color:rgb(30,30,30);}
caption {color:rgb(36,63,96);border:1px solid black;}
.labelimage{float:right;clear:right;display:block;border:1px solid black;margin:5px;background-color:#F2F2F2;width:305px;font-size:.95em;}
.labelimage span{text-indent:0;text-align:center;color:#4F81BD;	margin:2px;	display:block;}
.labelimage img{	float:none;	padding:3px;	max-width:300px;}

/*Les mathématiques "inline"*/
.TexTexte sub{	font-size:.75em;}
img.TexPic{display:inline;	vertical-align:middle;	float:none;padding:0;	margin:3px 0;}
input:focus, textarea:focus{	color:#44007E;}

p.displaymath:first-letter{color:black !important;font-weight:normal!important;}

table.quizz{cursor:help;}
table.quizz caption{border:none;}
table.quizz tr .answer{	visibility:hidden;}
table.quizz tr:hover .answer{visibility:visible;}
audio { margin:none; text-align:center;}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- 2. Les listes / Couleurs ----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.omnilogisme ul {
list-style-type:square;
padding-left:10px;
}
	.omnilogisme ul ul{
	list-style-type:circle;
	}
		.omnilogisme li {
		padding-left:0;
		margin-left:10px;
		}
.omnilogisme ol {
padding-left:18px;
list-style:decimal;
}
	.omnilogisme ol ul{
	margin-left:20px;
	list-style: inside circle;
	}

.admins {color:#FF0000!important;}
.taggers {color:#009900!important;}
.censeurs {color:#3399FF!important;}
.reffeurs {color:#1d34e2!important;}
.bannières {color:#985321!important;}
.accrocheurs {color:#FF6600!important;}
.propositions {color:#9900FF!important;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- 3. page proposition -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ul_propositions_libres {
position:relative;
}
	#ul_propositions_libres li, #ul_propositions_reservees li {
	border:1px grey solid;
	margin:15px 0 0 0;
	padding:10px 5px;
	}
		#ul_propositions_reservees li {
		min-height:33px;
		}


#ul_propositions_libres li:hover, #ul_propositions_reservees li:hover {
border:1px solid grey;
background-color:#def0ef;
outline: 1px solid #FFFFFF;
}

/*reserver*/
#ul_propositions_libres li > p, #ul_propositions_reservees li > p  {
position:absolute;
right:5px;
margin-top:auto;
border: 1px dashed #d38e49;
width:150px;
display:block;
padding: 2px;
}
	#ul_propositions_reservees li > p {
	margin-right: 10px;
	}

	#ul_propositions_libres li > p:hover {
	border:1px solid #d38e49;
	background-color:#feeac9;
	outline: 1px solid #fff8f0;
	outline-offset: -2px;
	}

/*proposition*/
.proposition {
padding:2px;
width:500px;
border:1px dashed #999999;
}
	.proposition a {
	color:#4185a5;
	font-weight:bold;
	}
		.proposition img {
		display:block;
		margin:auto;
		max-width:495px;
		}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 4. Top ----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------- Identification --*/
#identification {
height:25px;
background-color:#666666;
}

/* ------------------------------------- Top menu --*/
#top {
position:relative;
width:960px;
margin: 0 auto;
padding-top: 20px;
padding-bottom:137px;
}

#fond-top {
width:100%;
background: url('img/top-r.jpg') top repeat-x;
height:242px;
}
	#fond-top-c{
	width:1046px;
	height:188px;
	left:50%;
	top:54px;
	position:absolute;
	margin-left:-523px;
	background: url('img/sprite02.png') no-repeat;/*top-c*/
	background-position:-10px -303px;
	}
/* ------------------------------------- Header - Logo - --*/
header hgroup#logo{
position:absolute;
/*left:33px;
top:40px;*/
left:20px;
top:27px;
background: url('logo/logo.jpg') no-repeat;
width:298px;
height:70px;
}
	#banner h2, #banner h1 {
	text-indent: -5000px;
	margin:0;
	line-height:0;
	}
/* ------------------------------------- nav bar --*/
#bar {
position:absolute;
left:-50px;
top:-54px;
background: url('img/sprite02.png') no-repeat;/*top-t*/
background-position:-10px -231px;
width:1071px;
display:block;
height:54px;
background-color:#666666;
}
	#bar p {
	color:#FFFFFF;
	margin-left:10px;
	line-height:35px;
	}
		#bar p a:visited {
		color:#CCCCCC;
		}
		#bar p a:hover {
		color:#FFFFFF;
		}
			#bar a:link {
			color:#adaaaa;
			}
			#bar a:hover{
			color:white;
			text-decoration:none;
			}
#member-actions {
position:relative;
}
	#member-actions a {
	position:relative;
	background: url('img/mini_sep.jpg') left no-repeat;
	padding-left:10px;
	padding-right:6px;
	}
nav#bar p#member-actions, p#social {
margin-left:60px;
margin-right:30px;
float:left;
}
#next-article {
text-align:right;
padding-right:77px;
}
img.Top_l {
position:relative;
top:5px;
opacity:0.90;
}
	img.Top_l:hover {
	opacity:2;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 5. Menu - Top ---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#menu {
position:relative;
}
	#menu ul:before {
	position:absolute;
	bottom:-6px;
	left:11px;
	content: "";
	height:75px;
	width:451px;
	background: url('img/sprite02.png') no-repeat;/*bulle2*/
	background-position:-10px -135px;
	}
	#menu ul {
	position:absolute;
	left:415px;
	top:17px;
	/*font: 21px "Franklin Gothic Bold"; */
	font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: #ddd -2px 1px 3px;
	margin:0;
	padding:0;
	width:500px;
	}
		#menu li {
		position:relative;
		float:left;
		}
			#menu a {
			width:100px;
			height:45px;
			float:left;
			display:inline-block;
			text-align:center;
			text-decoration:none;
			}
				#menu a span {
				display:none;
				}
					#menu a:hover span {
					background: url('img/fleche01.png') bottom left no-repeat;
					text-decoration:none;
					color:#000000;
					font-size:14px;
					display:block;
					position:absolute;
					padding-left:25px;
					margin: 3px 0 0 18px;
					top:20px;
					height:65px;
					width:300px;
					text-align:left;
					}

/* -- Décoration des éléments -- */
/* modification 06/07*/
li#accueil, li#article, li#categorie, li#tops {
position:relative;
z-index:55;
line-height:115px;
height:50px;
width:auto;
}
	#accueil a:hover, #article a:hover, #tops a:hover, #categorie a:hover  {
	color:#0099FF;
	/*color:#b54e32; rouge ?*/
	}
		li#accueil {
		background: url('img/sprite01.png') no-repeat;
		background-position:21.5px -283px}
		li#article {
		background: url('img/sprite01.png') no-repeat;
		background-position:25.5px -351px}
		li#categorie{
		background: url('img/sprite01.png') no-repeat;
		background-position:24.5px -416px}
		li#tops{
		background: url('img/sprite01.png') no-repeat;
		background-position:15px -734px}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 6. Barre de recherche --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
nav#search {
position:absolute;
top:136.5px;
left:705px;
background: url('img/sprite01.png') no-repeat;
background-position:-10px -62px;
height:46px;
width:255px;
}
	#zoom {
	position:relative;
	top:127px;
	left:710px;
	background: url('img/sprite01.png') no-repeat;
	background-position: -10px -10px;
	height:32px;
	width:32px;
	z-index:20;
	}
#cse-search-box {
margin: 8px 0 0 8px;
}
	#cse-search-box input[type=text] {
	border:0;
	height:26px;
	width:160px;
	border:none;
	background: url('img/sprite01.png') no-repeat;/*nav.png*/
	background-position:-112px -291px;
	padding-left:30px;
	color:#333333;
	}
		#cse-search-box input[type=text]:hover{
		background: url('img/sprite01.png') no-repeat;/*nav.png*/
		background-position:-112px -319px;
		}

	#cse-search-box input[type=submit]{
	cursor:pointer;
	border:0;
	width:43px;
	height:28px;
	color:#888888;
	background: url('img/sprite01.png') no-repeat;/*nav-go.jpg*/
	background-position:-137px -224px;
	margin:0;
	padding:0;
	}
		#cse-search-box input[type=submit]:hover{
		background: url('img/sprite01.png') no-repeat;/*nav-go.jpg*/
		background-position:-137px -252px;
		}
#cse-search-box input[type="submit"] {
text-indent: -5000px;
color:transparent;
}
a.button {
bottom: 1px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 7. les Label (envoie etc...) -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* area menu */
#remarque {max-width:215px}
/* Le bouton d'envoi */
#content-g2 input[type="submit"], #content-g2 input[type="submit"]:hover, input#dernierMail {
display: inline-block;
zoom: 1;
*display: inline;
vertical-align: baseline;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
margin:10px;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
width:auto;
}
input#dernierMail {cursor:crosshair;}

#content-g2 input[type="submit"] {
color: #d9eef7;
border: solid 1px #0076a3;
background: #0095cd;
background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
background: -moz-linear-gradient(top,  #00adee,  #0078a5);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
	#content-g2 input[type="submit"]:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
		#content-g2 input[type="submit"]:active {
		position: relative;
		top: 1px;
		color: #80bed6;
		background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
		background: -moz-linear-gradient(top,  #0078a5,  #00adee);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
		}

#connexion input[type="submit"], #connexion input[type="submit"]:hover, #inscriptionMembre input[type="submit"], #inscriptionMembre input[type="submit"]:hover {margin-left:214px;}

#admin + form input[type=submit] {
color: #faddde;
border: solid 1px #980c10;
background: #d81b21;
background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');}
	#admin + form input[type=submit]:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');}
		#admin + form input[type=submit]:active {
		color: #de898c;
		background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
		background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
#accroches + form input[type=submit] {
color: #fef4e9;
border: solid 1px #da7c0c;
background: #f78d1d;
background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}
	#accroches + form input[type=submit]:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');}
		#accroches + form input[type=submit]:active {
		color: #fcd3a5;
		background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
		background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}
#bannieres + form input[type=submit] {
color: #fef4e9;
border: solid 1px #a15b17;
background: #925c22;
background: -webkit-gradient(linear, left top, left bottom, from(#a46c11), to(#764725));
background: -moz-linear-gradient(top,  #a46c11,  #764725);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a46c11', endColorstr='#764725');}
	#bannieres + form input[type=submit]:hover {
	background: #7e4b24;
	background: -webkit-gradient(linear, left top, left bottom, from(#97652a), to(#693b23));
	background: -moz-linear-gradient(top,  #97652a,  #693b23);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#693b23');}
		#bannieres + form input[type=submit]:active {
		color: #fcd3a5;
		background: -webkit-gradient(linear, left top, left bottom, from(#784b2a), to(#9d6915));
		background: -moz-linear-gradient(top,  #784b2a,  #9d6915);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#784b2a', endColorstr='#9d6915');}


/* ---------------------------- Les champs -- */

textarea#message, textarea#proposition {
border: 1px solid #c3c3c3;
background: #f4f4f4;
padding: 5px 5px;
margin: 8px 5px;
width:185px;
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
}
#content-g2 input {
border: 1px solid #c3c3c3;
background: #f4f4f4;
padding: 5px 5px;
margin: 8px 5px;
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
}
#content-g2  textarea#message, textarea#proposition  {
width:650px;
max-width:650px;
}
label[for="password2"] {line-height:18px!important;}
#lien {width:480px!important;}

#inscriptionMembre {
margin-top:25px;
}

#content-g2 input:hover {
border: 1px solid #999999;
background: #f4f4f4;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
#content-g2 input:focus, #content-g2 textarea#message:focus, textarea#proposition:focus {
border: 1px solid #64BCE2;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

#accroches + form input:focus {border: 1px solid #ff9600;}

#sources, #content + section input[id=titre] {
width: 580px;
border: 1px solid #c3c3c3;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
}


#content + section input:hover, #sources:hover {
border: 1px solid #829899;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
	#content + section input[type=radio]:hover, #content + section input[type=checkbox]:hover {
	margin: 8px 5px;
	}
/* ------------------------------ bannière */
#content-g2 input[type=file] {
margin-right:50px;
}

/* ------------------------------ Page d'inscription - connexion */
#inscriptionMembre input, #connexion input {
width:180px;
}
#inscriptionMembre p, #connexion p {
margin-top:-10px;
}
	#inscriptionMembre label, #connexion label {
	float: left;
	width: 21%;
	text-align: right;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 3;
	}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 8. Blocs Global --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#global {
	position:relative;
	top:15px; /* Haut du menu de droite */
	width: 970px;
	margin: 0 auto;
}
	#global-f {
	width:100%;
	background: url('img/repeat-c.jpg') top repeat-x;
	height:397px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 9. Menu de droite ------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
aside#menus{
position:relative;
float:right;
width:260px;
background: url('img/menu-d-r.jpg') top repeat-y;
background-color:#FFFFFF;
-moz-border-radius: 0 30px 0 0 / 0 40px 0 0;
-webkit-border-radius: 0 30px 0 0 / 0 40px 0 0;
-khtml-border-radius: 0 30px 0 0 / 0 40px 0 0;
}
section.menu{
position:relative;
left:-3px;
background: url('img/sprite01.png') no-repeat;
background-position:-10px -851px;/*fond-menu3.png*/
width:265px;
z-index:35;
}

		/*couleur rouge */
		section#welcome-pod, section#special-pod{
		background: url('img/fond-menu-red.png') no-repeat;
		}
		section#welcome-pod a{
		color:#1b5d79;
		padding-left:16px;
		display:block;
		margin-top:5px;
		background: url('img/bul_b.png') no-repeat;
		}
		#welcome-pod h3, #special-pod h3{
		text-shadow:0 1px 0px #f27f79!important;
		}
		#special-pod input[type="submit"] {
		display: inline-block;
		cursor: pointer;
		font: 14px/100% Arial, Helvetica, sans-serif;
		margin:10px 0 0 11px;
		padding:0 5px;
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		}

/*titre du menu de droite */
#menus h3 {
color:#2d2d2d;
text-shadow:0 1px 0px #a4dadc;
padding: 10px 0 0 5px;
margin-right:15px; /*décalage des icones*/
position:relative;
top:-10px;
}
	/* SAGA : En savoir plus, etc...*/
	section[id*="saga"] h3 {
	height:32px;
	background: url('img/saga.png') right no-repeat;
	}
span.more-in-saga {
padding-left:65px;
font-weight:bold;
}
	span.more-in-saga:before {
	position:absolute;
	bottom:3px;
	left:48px;
	content: "";
	display:block;
	height:16px;
	width:16px;
	background: url('img/plus.png') no-repeat 0 0;
}
/* Icones */
#last-writer h3 {
height:25px;
background: url('img/lastregister.png') right no-repeat;
}
#author-stats h3 {
height:28px;
background: url('img/statistic.png') right no-repeat;
}
#connected h3 {
height:32px;
background: url('img/link.png') right no-repeat;
}
#modifiable h3 {
height:30px;
background: url('img/editable.png') right no-repeat;
}
#last-added h3 {
height:24px;
background: url('img/lasttree.png') right no-repeat;
}
#lastArticles h3 {
height:24px;
background: url('img/sprite01.png') no-repeat;
background-position:218px -475px;
}
#catCloud h3, #catCloudAuthor h3 {
height:28px;
position:relative;
left:15px;
margin-left:-13px;
background: url('img/sprite01.png') no-repeat;
background-position:206px -567px;
}
#catCloud, #catCloudAuthor {width:250px;}
	#catCloud > span, #catCloudAuthor > span {
	position:relative;
	top:-8px;
	}
		#catCloud > span a, #catCloudAuthor > span a {
		text-decoration:none;
		}
#status-nb h3 {
height:25px;
background: url('img/status.png') right no-repeat;
}
#activeAuthor h3 {
height:26px;
background: url('img/sprite01.png') no-repeat;
background-position:215px -519px;
}
#archives h3 {
height:33px;
background: url('img/menu-arch.png') right no-repeat;
}
#twitter h3 {
height:33px;
background: url('img/sprite01.png') no-repeat;
background-position:210px -671px;
}
#randomArticle h3 {
height:33px;
background: url('img/sprite01.png') no-repeat;
background-position:206px -617px;
margin-bottom:36px;
}

#menus li {
position:relative;
top:-10px;
left:-14px;
color:#4e4e4e;
margin-right:4px;
list-style-position:inside;
list-style-image:url('img/chevron022.png');
}
	#activeAuthor li, #last-writer li {
	list-style-position:inside;
	list-style-image:url('img/puce.png')!important;
	}

#randomArticle img {
position:absolute;
top:32px;
left:50px;
width:150px;
height:36px;
}
	#randomArticle a {
	display:block;
	width:245px;
	}
.menu p {
width:240px;
margin-left:5px;
}
	p.more a {
	position:relative;
	top:-5px;
	left:8px;
	padding-left:70px;
	font-weight:bold;
	}
#twitter a{
color:#3299b3;
}
	#twitter p{
	position:relative;
	top:-10px;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 10. Contenu de gauche  --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content-g2 {
position:relative;
top:-35px; /*le haut des sections*/
background: url('img/content-r.png') top repeat-y;
float:right;
width:710px;
z-index:30;
}
	body section {
	padding-right:10px;
	padding-left:10px;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 11. Les Titres ----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.est_corrige {
background: url('img/corrige.png') left no-repeat;
padding-left:30px!important;
}
.indetermine {
background: url('img/ind.png') left no-repeat;
padding-left:30px!important;
}
.brouillon {
background: url('img/brou.png') left no-repeat;
padding-left:30px!important;
}
@font-face {
font-family: 'AyitaPro-SemiBold';
src: url('AyitaPro-SemiBold.ttf');
}
#content-g2 h1 {
background: url('img/chevron03.jpg') no-repeat; /*chevron03*/
margin: 5px 0 0 -10px;
padding:0 0 0 10px;
}
	#content-g2 h1 a {
	position:relative;
	z-index:55;
	font-family: 'AyitaPro-SemiBold', 'Palatino', 'Helvetica', 'Arial', Verdana, sans-serif;
	/*font: bold 210%/100% "Lucida Grande", Arial, sans-serif;*/
	font-size:29px;
	line-height:25px;
	padding:0 0 0 10px;
	padding-right: 28px;
	color:#C7A27;
	text-shadow: 2px 2px 0 #f1efef;
	}
		#content-g2 h1 a:hover {
		text-decoration:none;
		color:#2763c7;
		background: url('img/h1.png') no-repeat right 6px;
		}
			#content-g2 h1 a:active {
			text-shadow: 0px 0px 0 #ececec;
			position:relative;
			top:1px;
			left:1px;
			}

#content-g2 h2 {
font-size:13px;
padding:0 0 5px 20px;
margin:0;
}

#content-g2 section h3 + h1 { /* Donne un titre é la section */
position:relative;
top:-15px;
text-align:center;
color:#fff;
/*  background-image: url('img/author.png'),url('img/chevron03.jpg'); */
	background-image: url('img/author.png');
	background-position: left top,left top;
	background-repeat: no-repeat;
text-shadow: 1px 1px #2e4047;
letter-spacing:3px;
text-transform:uppercase;
height:34px;
font: 24px "Times New Roman";
line-height:34px;
}

/* ------------------------------------- Les élement en top des pages */
#content h3#article-of-the-day{
background: url('img/sprite01.png') no-repeat;
background-position:-10px -730px;
}
#content h3#author-page{
background: url('img/pageauteurtop.png') no-repeat;
}
#content h3#h3_toc{
left:22px;
background: url('img/article_j.png') no-repeat;
}

/* ------------------------------------- Configuration des bannières */
img[src*="/images/Banner/"] {
position:relative;
z-index:50;
border: 1px solid #fff;
box-shadow: 0 0 6px #979797;
-moz-box-shadow: 0 0 6px #979797;
-webkit-box-shadow: 0 0 6px #979797;
}
	img[src*="/images/Banner/"]:hover {
	opacity: 0.9;
	}

/* ------------------------------------- Texte en dessous des titres */
p.byline {/*write.jpg*/
display:block;
position:relative;

background: url('img/sprite01.png') left no-repeat;
background-position: -192px -10px;
margin:0;
padding: 0 0 15px 20px;
margin-left:20px;
color:#555555;
}
.twitter-share-button {
position:absolute;
top:0;
right:105px;
}

.facebook-like {
	display:block!important;
position:absolute;
top:0;
left:565px;
}

	p.byline span {
	color:#FF0000;
	font-weight:bold;
	}
		p.byline a:hover {
		text-decoration:underline;
		}

p[layout*="button_count"] {
position:absolute;
top:-010px;
right:35px;
}
.byline:before {
position:absolute;
top:17px;
left:0;
content: "";
display:block;
height:13px;
width:668px;
margin-top:3px;
margin-bottom:3px;
background: url('img/sprite02.png') no-repeat;
background-position:-10px -10px;
}

/* --------------------------------------------- Le Top du contenu */
#content-g2 h3 {
position:relative;
margin-left:-14px;
padding-left:41px;
height:18px;
line-height:11px;
clear:right;
background: url('img/sprite02.png') no-repeat;
background-position:-10px -99px;
width:699px;
color:#05617f;
}
	#content-g2 h3:before {
	position:absolute;
	left:5px;
	top:-10px;
	content: "";
	width:32px;
	height:32px;
	}
#content #fond-cont { /*top - important */
position:relative;
padding-top:10px;
padding-left:50px;
right:13px;
top:-16px;
background: url('img/sprite02.png') no-repeat;
background-position:-10px -41px;
width:710px;
height:38px;
}
	section#content > h3 { /*important - content-top */
	background: url('img/sprite02.png') no-repeat;
	background-position:-10px -40px;
	/*background: url('img/content-top.png') no-repeat;*/
	position:absolute;
	top:-1px;
	left:11px;
	height:38px;/*53*/
	padding-left:70px;
	margin-top:-15px;
	padding-top:20px;
	/*text-transform:uppercase;*/
	}
		section h3 span {
		background-color:#FFFFFF;
		padding:0 8px;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 12. Les Messages --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Classe générale */
.message, .info, .erreur, .read-previous-article, .read-next-article, aside.more-links  {
display:block;
padding:5px;
padding-left:30px;
margin-left:20px;
left:10px;
margin-bottom:5px;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
/* test */
-moz-box-shadow: inset 0 2px 7px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 2px 7px rgba(0,0,0,.1);
}

/*attention - rouge -*/
.erreur  {
background: #fccac3 url('img/message.png') center no-repeat;
background-position: 6px 50%; /* x-pos y-pos */
text-align: left;
margin:5px 50px 0 50px;
padding: 5px 20px 5px 35px;
border:1px solid #ea5338;
position:absolute;
z-index:50;
top:25px;
}
	.erreur a {color:#b02a14}

/*Information - Vert -*/
.info {
background: #effeb9 url('img/ok.png') center no-repeat;
background-position: 6px 50%; /* x-pos y-pos */
text-align: left;
margin:5px 50px 0 50px;
padding: 5px 20px 5px 35px;
border:1px solid #9ac601;
position:absolute;
z-index:50;
top:25px;
}
	.info a {color:#2a760c}

/*avertissement - Jaune - /!\ */
header.message {
background: #ffeaa9 url('img/light.png') center no-repeat;
background-position: 6px 50%; /* x-pos y-pos */
text-align: left;
margin:5px 20px 0 20px;
padding: 5px 20px 5px 45px;
border:1px solid #f9b418;
}

/*information -Bleu - */
.roles .message {
background: #d1e4f3 url('img/info.png') center no-repeat;
background-position: 6px 50%; /* x-pos y-pos */
text-align: left;
margin:5px 20px 0 20px;
padding: 5px 20px 5px 45px;
border:1px solid #4d8fcc;
}

/*Lumière - Jaune claire - /!\ */
aside.more-links {
background: #feeac9 url('img/lumiere.png') center no-repeat;
background-position: 5px 60%; /* x-pos y-pos */
text-align: left;
margin:5px 20px 0 20px;
padding: 0 4px 0 25px;
border:1px solid #d38e49;
}
	aside.more-links ul li {
	list-style-position:inside;
	}
		aside.more-links p {
		padding-bottom:6px;
		padding-left:10px;
		border-bottom: 1px dashed #d38e49;
		}
			aside.more-links p:first-letter {
			font-weight:bold;
			color:#FF0000;
			}

/*Information - VERT - */
.read-previous-article, .read-next-article {
background-color:#effeb9;
border:1px solid #9ac601;
margin-right:15px;}
.read-next-article {
text-align:right;
padding-right:35px;}
	.read-previous-article a, .read-next-article a {
	color:#0b2104!important;}
		.read-previous-article:before, .read-next-article:before  {
		position:absolute;
		margin-top:-4px;
		content: "";
		height:32px;
		width:32px;}
			.read-previous-article:before {
			left:22px;
			background: url('img/precedent.png') no-repeat 0 0;}
			.read-next-article:before {
			left:640px;
			background: url('img/suivant.png') no-repeat 0 0;}

.roles .note {
background-color:#d1e4f3;
border:1px dotted #4d8fcc;
color:#2e302b;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 13. La page des catégories (tableau)---------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
aside.categories {
margin:auto;
width:300px;
font-size:0.8em;
text-align:center;
}
table {
margin:auto;
font-size:0.95em;
text-align:center;
}
	td {
	border:1px dotted grey;
	padding:2px;
	}
		td a{
		display:block;
		}
		.omnilogisme td a{
		display:inline;
		}
td.noborder:hover {
background-color:#fff;
outline:none;
}
	td:hover {
	border:1px solid grey;
	background-color:#def0ef;
	outline: 1px solid #FFFFFF;
	outline-offset: -2px;
	}
		td:active, td:focus  {
		border:1px solid #d38e49;
		background-color:#feeac9;
		outline: 1px solid #fff8f0;
		outline-offset: -2px;
		}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 14. La page d'administration --------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
h3#admin, h3#accroches, h3#bannieres, h3#edit {
text-transform:uppercase;
}
	h3#admin {
	background: url('img/admin.png') no-repeat;
	color:#e25a21;
	}
	h3#accroches {
	background: url('img/accroche.png') no-repeat;
	color:#ee7303;
	}
	h3#bannieres {
	background: url('img/ban.png') no-repeat;
	color:#794c1c;
	}
		h3#admin:before {top:-15px;
		background: url('img/admin_r.png') left no-repeat;
		}
		h3#accroches:before {top:-15px;
		background: url('img/admin_o.png') left no-repeat;
		}
		h3#bannieres:before {top:-15px;
		background: url('img/admin_m.png') left no-repeat;
		}
		h3#edit:before {top:-15px;
		background: url('img/admin_b.png') left no-repeat;
		}
		#articles-from h3:before {
		background: url('img/sup6.png') left no-repeat;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 15. Textes en fin d'article ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Ces articles vous plairont surement etc. */
aside#did-you-know h3:before {/*sup1*/
background: url('img/sprite01.png') no-repeat;
background-position: -137px -10px;
}
section#similar h3:before {/*sup2*/
background: url('img/sprite01.png') no-repeat;
background-position: -51px -10px;
}
section#complementary h3:before{/*sup1*/
background: url('img/sprite01.png') no-repeat;
background-position: -10px -10px;
}
#last-activity h3:before {
background: url('img/sup5.png') left no-repeat;
}

aside.similar li, section#complementary li {
/*position:relative;
top:-5px;*/
list-style-type:circle;
list-style-position:inside;
}

/*Le petit plus pour briller en société*/
aside#did-you-know h3 p {
padding-left:10px;
}
	aside#did-you-know h3 p:first-letter {
	color:#FF0000;
	font-weight:bold;
	}
		aside#did-you-know p.source-anecdote {
		text-align:right;
		padding-right:20px;
		margin-left:600px;
		font-weight:bold;
		background: url('img/sprite01.png') no-repeat; /*fléche bleue*/
		background-position:-138px -824px;
		}

/* Ces articles vous plairont surement etc. */
.article-veille {
position:relative;

height:24px;
line-height:24px;
background: url('img/prev.png') left no-repeat; /*fléche bleue*/
padding-left:28px;
}
.article-lendemain {
position:absolute;
right:10px;
height:24px;
line-height:24px;
background: url('img/next.png') right no-repeat; /*fléche bleue*/
padding-right:27px;
margin-bottom:15px;
}
	.article-veille a, 	.article-lendemain a {color:#3278b5;}
	.article-veille a:hover, 	.article-lendemain a:hover {color:#b54e32;}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------- 16. Les séparations -------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* séparations diverses */
hr#end_content{ /* fin du contenu */
margin-top:28px;
background: url('img/bottom-c.jpg') top no-repeat;
height:28px;
}
hr#end_content2{ /* fin du contenu */
background: url('img/bottom-r.jpg') no-repeat;
height:44px;
width:262px;
}
hr {
background: url('img/separation-m.jpg') no-repeat;/*bug*/
width:712px;
height:82px;
margin:0;
padding:0;
}
	hr.court {
	background: url('img/separation_court.jpg') no-repeat;
	width:520px;
	height:2px;
	/*margin:25px 0 25px 90px;*/
	padding:0;
	position:relative;
	right:25px;
	}
section hr {
background: url('img/separation-m.jpg') no-repeat;
width:712px;
height:82px;
margin-left:-10px;
}
hr.footnote { /*ciseaux cut*/
/*background: url('img/sprite02.png') right no-repeat;
background-position:-655px -10px;*/
background-image:none;
margin:5px 0 10px 25px;
border-bottom:1px dashed #333333;
padding-bottom:10px;
height:13px;
}
/*hr.coupure-articles-entourants {
height:13px;
width:668px;
margin-left:25px;
background: url('img/sprite02.png') no-repeat;
background-position:-10px -10px;
}*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- 17. Article du jour + COntenu de l'omnilogisme -------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
h3#article-of-the-day:before {
height:205px;
width:774px;
position:absolute;
top:-35px;
left:-42px;
background: url('img/sprite02.png') no-repeat;
background-position:-10px -895px;/*oftheday.png*/
}

/* longue barre bleue à gauche du texte */
#content .omnilogisme, .omni_start .omnilogisme > p:first-child, article.presentation, #Typo_preview {
position:relative;
background: url('img/omni-texte.jpg') left top repeat-y;
margin: 0 0 0 5px;
padding:0 5px 10px 10px;
min-height:50px;


font: 16px/1.5em 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'Times', serif;
/*font-family: FreeSerif, Sylfaen, Optima, "Times New Roman", Arial, serif;*/
}
	#content .omnilogisme a, #Typo_preview a{
	text-decoration:none;
	color:#0033FF;
	}
		#content .omnilogisme a:hover, #Typo_preview a:hover{
		text-decoration:underline;
		}

	.omnilogisme p:first-letter, article.presentation p:first-letter {
	font-weight:bold;
	color: red;
	margin-left:15px;
	}

.omnilogisme .footnote + ol li {
	list-style-type: none;
	font-size: 90%;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------ 18. Omni Start -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*  Page d'Accueil + omni start - */
#previous-article h3 { /* titre + logo */
height:35px;
color:#05617f;
padding-left:68px;
margin-right:10px;
}
	#previous-article h3:before {
	height:54px;
	width:89px; /*55*/
	position:absolute;
	top:-22px;
	/*background: url('img/previous.png') left no-repeat; - newspaper*/
	background: url('img/sprite01.png') no-repeat;
	background-position:-10px -783px;
	}

.omni_start {
position:relative;
}
	.omni_start:before{
	z-index:5;
	position:absolute;
	left:-5px;
	content: "";
	margin-top:10px;
	width:700px;
	height:37px;
	background: url('img/previous.jpg') top repeat-x;
	}
		.omni_start > img {
		margin-top:30px;
		}

#learn-more a { /* en savoir plus - articles */
background: url('img/sup4.png') top no-repeat;
line-height:16px;
margin-left:450px;
padding-left:110px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------ 19. Teaser, Pager --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.read-more {
position:relative;
text-align:right;
margin-right:50px;
pading-top:10px;
/*top:-10px;*/
display:block;
}
	.read-more:before{
	position:absolute;
	content: "";
	right:85px;
	display:block;
	height:14px;
	width:16px;
	background: url('img/sprite01.png') no-repeat; /*fléche bleue*/
	background-position:-138px -824px;
	}

/* ----------- Les pages ----------- */
aside.pager {
padding:20px 10px 20px 0;
text-align:right;
font-weight:bold;
}
	aside.pager a {
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	padding:4px 2px 0 0;
	border:1px solid #dddddd;
	display:inline-block;
		-moz-border-radius: 5px; /* FF1+ */
		-webkit-border-radius: 5px; /* Saf3-4 */
		border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
	color:#4fa3e1;
	height:20px;
	width:20px;
	text-align:center;
	font-size:12px;
	}
		aside.pager a:hover {
		border:1px solid #8a8a8a;
		display:inline-block;
		height:20px;
		width:20px;
		text-align:center;
		text-decoration:none;
		}

	.page_actuelle {
	border:none!important;
	background: url('img/actuel.jpg') top no-repeat;
	width:24px!important;
	height:24px!important;
	color:#FFFFFF!important;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	}
		.page_actuelle:hover {
		background: url('img/actuel_hover.jpg') top no-repeat;
		}


	span.nb-total {
	color:#0099FF;
	font-weight:normal;
	}
section.omni_teaser, aside.roles {
background: url('img/separation.jpg') top no-repeat;
padding-top:20px;
padding-right:15px;
padding-left:10px;
margin-left:-10px;
clear:left;
}
	section.omni_teaser img {
	float:left;
	margin: 0 10px 10px -15px;
	}

section.omni_teaser h2, section.omni_teaser p {
position:relative;
left:10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- 20. Page liste des Auteurs --------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
section#content > h4, section#content > h4 + p {
padding-left:10px;
}

#omnilogistes_participants {
-moz-column-width: 150px;
-moz-column-rule: 1px solid #CCCCCC;
-moz-column-gap: 30px;
-webkit-column-width: 150px;
-webkit-column-gap: 30px;
-webkit-column-rule: 1px solid #CCCCCC;
}
	#omnilogistes_participants li a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}

/*----------------------------------------------------- Omnilogistes participants*/
/*titre*/
#code_couleur {
font:bold 25px Helvetica, Arial, sans-serif; color:#868686;
text-shadow: 0 1px 1px rgba(0,0,0,.1);
text-align:center;
}

/* début des textes */
#code_couleur + p, #h3_tree + p {
text-shadow: 0 1px 1px rgba(0,0,0,.1);
font:19px/24px Georgia, serif; color:#878686;
}
#h3_toc + p{
font:15px/19px Georgia, serif; color:#757575;
}
#connexion + p a, #admin_actions li a, h3 + ol li a, a[href*="/membres/Oubli"]{
text-shadow: 0 1px 1px rgba(0,0,0,.1);
font:16px/19px Georgia, serif; color:#8f8f8f;
}
	a[href*="/membres/Oubli"]:hover {
	color:#cf1919!important;
	text-decoration:none;
}
#inscriptionMembre + p a {
text-shadow: 0 1px 1px rgba(0,0,0,.1);
font:16px/19px Georgia, serif; color:#8f8f8f;
}
	#inscriptionMembre + p a:hover {
	color:green!important;
	text-decoration:none;
	}

#connexion + p a:hover, #admin_actions ul li a:hover, h3 + ol li a:hover {
color:#19b5cf!important;
text-decoration:none;
}
#liste_code_couleur, #h3_redaction + p {
margin-bottom:30px; font:14px/18px Georgia, serif; color:#8f8f8f;
}
#liste_code_couleur li strong {
text-transform:capitalize;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- 21. Page - Espace membre ----------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#redactionArticle h2, #pageMembrePublique h2, #statistiquesMembre h2 {
}
	#pageMembrePublique h2 {
	margin-left:7px!important;
	}
#redactionArticle, #pageMembrePublique, #statistiquesMembre {
position:relative;
background-color:#e0e0e0;
padding:10px;
margin-bottom:20px;
margin-top:10px;
border:1px solid #a8a8a8;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: inset 1px 1px #FFFFFF;
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
float:left;
width:190px;
text-align:left;
}
	#redactionArticle p, #pageMembrePublique p, #statistiquesMembre p {
	text-align:left;
	padding-left:16px;
	margin-left:-6px;
	}
		#redactionArticle h2:before, #pageMembrePublique h2:before, #statistiquesMembre h2:before {
		position:absolute;
		top:-10px;
		left:-15px;
		content: "";
		display:block;
		}

#redactionArticle {
margin-left:12px;
}
	#redactionArticle p {
	background: url('img/bul_b.png') left no-repeat;
	}
		#redactionArticle h2:before {
		background: url('img/redac.png') no-repeat 0 0;
		height:44px;
		width:41px;
		}
	#redactionArticle:hover {
	background-color:#c5dced;
	border:1px solid #418dc6;
	}

#pageMembrePublique {
margin-left:15px;
}
	#pageMembrePublique:hover {
	background-color:#feeac9;
	border:1px solid #d38e49;
	}
		#pageMembrePublique p {
		background: url('img/bul_o.png') left no-repeat;
		}
	#pageMembrePublique h2:before {
	background: url('img/public.png') no-repeat 0 0;
	height:41px;
	width:50px;
	}

#statistiquesMembre {
margin-left:15px;
}
	#statistiquesMembre:hover {
	background-color:#effeb9;
	border:1px solid #98c700;
	}
		#statistiquesMembre p {
		background: url('img/bul_v.png') left no-repeat;
		}
	#statistiquesMembre h2:before {
	background: url('img/stats.png') no-repeat 0 0;
	left:-12px;
	height:40px;
	width:40px;
	}

#statistiquesMembre + h2, #statistiquesMembre + h2 + p + ul + h2 , #statistiquesMembre + h2 + p + ul + h2 + ul + h2{
background: url('img/prop.png') center no-repeat;
line-height:32px;
width:256px;
height:41px;
display:block;
clear:left;
margin-top:20px;
}
#statistiquesMembre + h2 + p {
margin-top:-5px;
}
#statistiquesMembre + h2 + p + ul li a{
color:#0099FF;
}
#statistiquesMembre + h2 + p + ul + h2 + ul li {
list-style-image:url(img/pucex.png);
list-style-position:inside!important;
}
#statistiquesMembre + h2 + p + ul + h2{
margin-top:20px;
}

label[for="histoire"] > small {
color:#FF0000;
}
/* ------------------------------------------------  Espace Rédaction d'article (en travaux) -- */

/*label[for="titre"], label[for="article"]{
position:relative;
font-family:Helvetica, Arial, sans-serif;
font-weight:bold;
color:#7D7D7D;
font-size:16px;
letter-spacing:1px;
}
label[for="titre"] + small, label[for="article"] + small {
font-family:Helvetica, Arial, sans-serif;
color:#7D7D7D;
font-size:14px;
}
*/
/*label[for="titre"]:before {
background: url('img/01.png') no-repeat;
position:absolute;
top:-15px;
left:-58px;
content: "";
width:56px;
height:49px;
}
label[for="article"]:before {
background: url('img/02.png') no-repeat;
position:absolute;
top:-15px;
left:-51px;
content: "";
width:50px;
height:44px;
}*/


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- 22. Erreur 404 (en travaux) -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*erreur 404*/
section#content #h3_erreur {
background: url('img/content-top2.png') no-repeat;
color:#990000;
text-transform:uppercase;
}
#h3_erreur + p + .message {
padding-top:15px;
padding-bottom:10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------- 23. FOOTER --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
footer {
clear:right;
}
	#footer-f {
	background: url('img/footer-b.jpg') bottom repeat-x;
	height:65px;
	}
		#footer-g {
		background: url('img/footer-r.jpg') repeat-x;
		height:325px;
		}

aside#footers {
background: url('img/sprite02.png') no-repeat;
background-position:-10px -504px;/*footer-f*/
width:960px;
height:295px;
margin:0 auto;
}
	footer h3 {
	letter-spacing:2px;
	font-weight:normal;
	font-family: "Myriad Pro";
	font-size:18px;
	color:#FFFFFF;
	margin: 10px 0 0 -22px;
	padding: 10px 0 0 30px;
	}


#about, #alire {
color:#FFFFFF;
background: url('img/sprite01.png') no-repeat;/*footer-content.png*/
background-position:-87px -463px;
padding:0 10px;
float:left;
width:253px;
height:266px;
}
/* a propos*/
	#about p {
	line-height:22px;
	width:215px;
	}
		#about p:first-letter {
		float:left;
		font: bold 3em/1em Georgia, "Times New Roman", Times, serif;
		color:#FFFFFF;
		padding:1px;
		margin-top:5px;
		}

/*partenaires*/
	#alire li {
	margin-top:15px;
	list-style-type:circle;
	list-style-position:inside;
	}
		#alire li a {
		color:#FFFFFF;
		}

/*bas*/
#bas {
margin:0 auto;
width:960px;
clear:left;
line-height:9px;
position:relative;
top:2px;
}
	#ribbon {
	color:#8d8d8d;
	width:auto;
	float:left;
	}
		#ribbon a{
		font-family:Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		font-size:11px;
		letter-spacing:0.5px;
		color:#aeaeae;
		}

	#html5-valid{
	color:#8d8d8d;
	margin-top:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	float:left;
	margin-left:495px;
	}

/* ligne editoriale */
h3[id*="ligne"] p {
margin-left:20px;
}

/* RESPONSIVE */
@media screen and (max-width: 967px) {
  #search {
    display: none;
  }
  #logo {
    display: none;
  }

  #bar {
    display: none;
  }

  #menus {
    display: none;
  }

  aside#footers, #bas, #top {
  width: 100%;
  }

  #fond-top-c {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  #menus, #banner {
    display: none;
  }

  #menu ul {
  left: 0;
  }

  #content {
    width: 95%;
  }

  #content-g2 h3 {
    width: 80%;
  }

  #content-g2 {
  width: 100%;
  background: white
  }

  hr, section hr {
    width: 100%;
    background: auto;
  }

  hr.court {
    width: 50%;
  }

  .omni_start:before {
    width: auto;
  }

  .byline:before {
    width: auto;
  }

  img[src*="/images/Banner/"] {
    max-width: 90%;
  }

  #learn-more a {
    margin-left: auto;
  }

  #content #fond-cont {
    width: 100%;
  }

  #html5-valid {
    display: none;
  }

  #fond-top-c {
    margin-left: 0;
    left: 0;
  }

  #zoom {
    display: none;
  }

  #menu ul {
    width: auto;
    position: static;
  }

  #menu ul:before {
    width: 0;
  }

  .ad {
    display: none
  }

  #content #fond-cont {
    padding-left: 0;
  }

  .auteur {
    padding-right: 10px;
  }

  h3#article-of-the-day:before {
    width: auto;
  }

  #bas {
    display: none;
  }

  .nonflottant, .omnilogisme img {
  	max-width: 90%
  }

  #content .omnilogisme {
  	background: white;
  }

  aside#did-you-know p.source-anecdote {
  	margin-left: 0;
  }

  .read-next-article:before {
  	left: 0;
  }

  .desktop-ad {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #about {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #tops {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  #categorie {
    display: none;
  }
}
