/* CSS - Revision 2 - mai 2010*/
/*start*/
body { 
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  background-color:#efefed;
  height: 100%;
} 
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul, ol { margin: .75em 0 .75em 10px;  padding: 0; list-style-type: none;} /* Listes */ 
li { padding-left: 10px; margin-bottom: 5px;}
small { font-size:12px;} /* Liens */
a { text-decoration: none; }
a:link { color: #3c3c3c; }
a:visited { color: #000; } 
a:hover, a:focus, a:active { text-decoration: underline;} 
a:focus, a:active { outline: none; } 
a img, hr {  border: none; } 
p { margin: .75em 0;} /* Paragraphes */  
em { font-style: italic; } /* autres */ 
strong { font-weight: bold; } 
h4 {margin: 0; padding: 0;}
.nonflottant, .omnilogisme img { max-width:680px;}

/*section#content a {
text-decoration:underline;
}*/

/*================*/
/* Identification */
/*===============*/
#identification {
height:25px;
background-color:#666666;
}
/*============*/
/* Top, Menu */
/*===========*/
div#top {
position:relative;
width:960px;
margin: 0 auto;
padding-top: 20px;
padding-bottom:137px;
}
#fond-top {
width:100%;
background: url('img/top-r.jpg') top repeat-x;
height:242px;
}
#fond-top-c{
width:1046px;
height:188px;
left:50%;
top:54px;
position:absolute;
margin-left:-523px;
background:url("img/top-c.jpg");
}
/* -- Header (logo)-- */
header hgroup#logo{
position:absolute;
left:33px;
top:40px;;
background: url('img/logo.PNG') top no-repeat;
width:292px;
height:68px;
}
#banner h2, #banner h1 {
text-indent: -5000px;
margin:0;
line-height:0;
}
/* -- nav bar -- */
nav#bar {
position:absolute;
left:-50px;
top:-54px;
background: url('img/top-t.jpg') top no-repeat;
width:1071px;
display:block;
height:54px;
background-color:#666666;
}
nav#bar p {
color:#FFFFFF;
margin-left:10px;
line-height:35px;
}
nav#bar p a:visited {
color:#CCCCCC;
}
nav#bar p a:hover {
color:#FFFFFF;
}

nav#bar p#member-actions, p#social {
margin-left:80px;
margin-right:115px;
float:left;
}
#next-article {
text-align:right;
padding-right:77px;
}
nav#bar a:link {
color:#adaaaa;
}
nav#bar a:hover{
color:white;
text-decoration:none;
} 
img.Top_l {
position:relative;
top:5px;
opacity:0.90
}
img.Top_l:hover {
opacity:2
}

/* -- menu top -- */
#menu {
position:relative;
}
#menu ul {
position:absolute;
left:415px;
top:17px;
font-family: "Franklin Gothic Bold";
font-size:20px;
margin:0;
padding:0;
width:500px;
}
#menu li {
position:relative;
float:left;
}
#menu a {
width:100px;
height:20px;
float:left;
height:50px;
display:block;
text-align:center;
text-decoration:none;
}
#menu a span {
display:none;
}
#menu a:hover span {
background: url('img/fleche01.PNG') left no-repeat;
text-decoration:none;
color:#000000;
font-size:14px;
display:block;
position:absolute;
padding-left:25px;
margin: 3px 0 0 18px;
top:20px;
width:300px;
text-align:left;
}

/* -- Décoration des éléments -- */
#accueil a:hover {
text-decoration:underline;
color:#0099FF;
}
li#accueil a:first-letter {
font-weight:bold;
color:#0099FF;
}
li#article a:hover {
text-decoration:underline;
color:#FF0000;
}
li#article a:first-letter {
font-weight:bold;
color:#FF0000;
}
li#auteur a:hover {
text-decoration:underline;
color:#009900;
}
li#auteur a:first-letter {
font-weight:bold;
color:#009900;
}
li#categorie a:hover {
text-decoration:underline;
color:#FF3399;
}
li#categorie a:first-letter {
font-weight:bold;
color:#FF3399;
}
li#accueil, li#article, li#categorie, li#auteur {
position:relative;
z-index:55;
line-height:115px;
height:50px;
}
li#accueil {
background: url('img/accueil.PNG') top center no-repeat;}
li#article {
background: url('img/articles.PNG') top center no-repeat;}
li#categorie{
background: url('img/cat.PNG') top center no-repeat;}
li#auteur{
background: url('img/auteurs.PNG') top center no-repeat;}

/* -- Recherche -- */
nav#search {
position:absolute;
top:136.5px;
left:705px;
background: url('img/fond-nav.PNG') top center no-repeat;
height:46px;
width:255px;
}
#zoom {
position:relative;
top:127px;
left:710px;
background: url('img/zoom.PNG') top center no-repeat;
height:32px;
width:30px;
z-index:20;
}
#cse-search-box {
margin: 8px 0 0 8px;
}
#cse-search-box input[type=text] {
border:0;
height:26px;
width:160px;
border:none;
background: url('img/nav.PNG') top left no-repeat;
padding-left:30px;
color:#333333;
}
#cse-search-box input[type=text]:hover{
background-position:left bottom;
}
#cse-search-box input[type=submit]{
cursor:pointer;
border:0;
width:43px;
height:28px;
color:#888888;
background:url('img/nav-go.jpg') top right no-repeat;
margin:0;
padding:0;
}
#cse-search-box input[type=submit]:hover{
background-position:right bottom;
}
#cse-search-box input[type="submit"] {
color:transparent;
}

a.button {
bottom: 1px;
}
#content input[type="submit"]:hover {
border: 1px solid #555;
padding: 5px 12px;
background: #64bce2;
width:auto;
}
#content input[type="submit"] {
border: 1px solid #3b7994;
background: #4ea6ca;
color: #fff;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;
padding: 5px 12px;
cursor: pointer;
width:auto;
}

#content input {
width: 180px;
border: 1px solid #c3c3c3;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
}


#content + section input, #sources {
width: 580px;
border: 1px solid #c3c3c3;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
}
#content + section input[type="checkbox"], #content input[type="radio"]  {
width: 5px;
}


#content + section input:hover, #sources:hover {
border: 1px solid #829899;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
/*label {
font-weight:bold;
}*/

label {
 margin-top:20px;
 display:block;
 }
label.inline {
 display:inline
 }

#content input:hover {
border: 1px solid #999999;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
#content input:focus {
border: 1px solid #81b1c1;
background: #f4f4f4;
padding: 5px 1px;
margin: 10px 5px;
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.1);
box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}


/*======*/
/*Blocs*/
/*======*/

/*Page complète*/
#global {
  position:relative;
  top:15px; /* Haut du menu de droite */
  width: 970px;
  margin: 0 auto;
}
  
#global-f {
width:100%;
background: url('img/repeat-c.jpg') top repeat-x;
height:397px;
}

/*===== Droite (menu) ===== */
aside#menus{
position:relative;
float:right;
width:260px;
background: url('img/menu-d-r.jpg') top repeat-y;
background-color:#FFFFFF;
-moz-border-radius: 0 30px 0 0 / 0 40px 0 0; 
-webkit-border-radius: 0 30px 0 0 / 0 40px 0 0;  
-khtml-border-radius: 0 30px 0 0 / 0 40px 0 0;
}



section.menu{
position:relative;
left:-3px;
background: url('img/fond-menu3.PNG') no-repeat;
width:265px;
z-index:35;
}
aside#menus h3 {
color:#2d2d2d;
padding: 10px 0 0 0;
margin-right:15px; /*décalage des icones*/
position:relative;
top:-10px;
}

/* SAGA : En savoir plus, etc...*/
section[id*="saga"] h3 {
height:32px;
background: url('img/saga.PNG') right no-repeat;
}
span.more-in-saga {
padding-left:65px;
font-weight:bold;
}
span.more-in-saga:before {
position:absolute;
bottom:3px;
left:48px;
content: "";
display:block;
height:16px;
width:16px;
background: url('img/plus.PNG') no-repeat 0 0;
}
/* Icones */
#last-writer h3 {
height:25px;
background: url('img/lastregister.PNG') right no-repeat;
}
#author-stats h3 {
height:28px;
background: url('img/statistic.PNG') right no-repeat;
}
#connected h3 {
height:32px;
background: url('img/link.PNG') right no-repeat;
}
#modifiable h3 {
height:30px;
background: url('img/editable.PNG') right no-repeat;
}
#last-added h3 {
height:24px;
background: url('img/lasttree.PNG') right no-repeat;
}
#lastArticles h3 {
height:24px;
background: url('img/menu-cat.PNG') right no-repeat;
}
#catCloud h3, #catCloudAuthor h3 {
height:28px;
position:relative;
left:15px;
margin-left:-8px;
background: url('img/cloudauthor.PNG') right no-repeat;
}
#status-nb h3 {
height:25px;
background: url('img/status.png') right no-repeat;
}
#activeAuthor h3 {
height:26px;
background: url('img/menu-aut.PNG') right no-repeat;
}
#archives h3 {
height:33px;
background: url('img/menu-arch.PNG') right no-repeat;
}
#twitter h3 {
height:33px;
background: url('img/menu-twi.PNG') right no-repeat;
}
#randomArticle h3 {
height:33px;
background: url('img/menu-has.PNG') right no-repeat;
margin-bottom:36px;
}
#catCloud > span, #catCloudAuthor > span {
position:relative;
top:-8px;
}
#catCloud, #catCloudAuthor {
width:250px;
}
aside#menus li {
position:relative;
top:-10px;
left:-14px;
color:#4e4e4e;
margin-right:4px;
list-style-position:inside;
list-style-image:url('img/chevron02.jpg');
}
#activeAuthor li, #last-writer li {
list-style-position:inside;
list-style-image:url('img/puce.PNG')!important;
}
.admins {
color:#FF0000!important;}
.taggers {
color:#009900!important;}
.censeurs {
color:#3399FF!important;}
.bannieres {
color:#45381e!important;}
.accrocheurs {
color:#FF6600!important;}
.propositions {
color:#9900FF!important;}

#randomArticle img {
position:absolute;
top:32px;
left:50px;
width:150px;
height:36px;
}
#randomArticle a {
display:block;
width:245px;
}

#randomArticle p.more a {
position:relative;
top:-5px;
left:8px;
padding-left:70px;
font-weight:bold;
}
.menu p {
width:240px;
margin-left:5px;
}
#twitter a{
color:#3299b3;
}
#twitter small, #twitter small a{
color:#b4b4b4;
}

/*==============================*/
/* ===== gauche (contenu) ===== */
div#content-g2 {
position:relative;
top:-35px; /*le haut des sections*/
background: url('img/content-r.PNG') top repeat-y;
float:right;
width:710px;
z-index:30;
}

body section {
padding-right:10px;
padding-left:10px;
}

/* ============  H1 ============== */
h1 .est_corrige {
background: url('img/corrige.PNG')  left no-repeat;
}


div#content-g2 h1 a {
font-family:"Times New Roman", Times, serif;
color:#17729a;
padding:0 0 0 20px;
}
section h3 + h1 { /* Donne un titre à la section */
position:relative;
top:-15px;
text-align:center;
color:#FFFFFF;
  background-image: url('img/author.PNG'),url('img/chevron03.jpg'); 
  background-position: left top,left top; 
  background-repeat: no-repeat;
text-shadow: 1px 1px #2e4047;
letter-spacing:3px;
text-transform:uppercase;
height:34px;
font: 24px "Times New Roman";
line-height:34px;
}
h1 {
background: url('img/chevron03.jpg') left top no-repeat;
margin: 5px 0 0 -10px;
padding:0 0 0 10px;
}


/* Les élement en top des pages */
h3#article-of-the-day{
background: url('img/articlejour.PNG') no-repeat;
}
h3#author-page{
background: url('img/pageauteurtop.PNG') no-repeat;
}

section#content > h3 {
position:absolute;
top:-7px;
height:53px;
padding-left:70px;
margin-top:-15px;
padding-top:20px;
}
section h3 span {
background-color:#FFFFFF;
padding:0 8px;
}

img[src*="/images/Banner/"] {
position:relative;
z-index:50;
border: 1px solid #fff;
box-shadow: 0 0 6px #979797;
-moz-box-shadow: 0 0 6px #979797;  
-webkit-box-shadow: 0 0 6px #979797;
}
div#content-g2 h2 {
font-size:13px;
padding:0 0 5px 20px;
margin:0;
}
div#content-g2 p.byline {
background: url('img/write.jpg') left top no-repeat;
margin:0;
padding: 0 0 15px 20px;
margin-left:20px;
color:#555555;
}
div#content-g2 p.byline span {
color:#FF0000;
font-weight:bold;
}
div#content-g2 p.byline a:hover {
text-decoration:underline;
}
/* Classe générale */
.message, .info, .erreur {
display:block;
padding:5px;
padding-left:30px;
margin-left:20px;
left:10px;
margin-bottom:5px;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
}

/*attention*/
.info, .erreur {
background-color:#fccac3;
position:absolute;
top:25px;
border:1px solid #ea5338;
font-size:11px;
color:#2e302b;
}
.info:before, .erreur:before {
position:absolute;
bottom:3px;
left:5px;
content: "";
display:block;
height:20px;
width:20px;
background: url('img/message.PNG') no-repeat 0 0;
}

/*avertissement*/
header.message {
background-color:#ffeaa9;
border:1px solid #f9b418;
margin-right:20px;
padding-left:40px;
}
header.message :before {
position:absolute;
left:35px;
margin-top:-7px;
content: "";
height:32px;
width:32px;
background: url('img/light.PNG') no-repeat 0 0;
}

/*information */
.roles .message {
background-color:#d1e4f3;
border:1px solid #4d8fcc;
color:#2e302b;
}
.roles .message :before {
position:absolute;
left:35px;
content: "";
display:block;
height:21px;
width:20px;
background: url('img/info.PNG') no-repeat 0 0;
}

.roles .note {
background-color:#d1e4f3;
border:1px dotted #4d8fcc;
color:#2e302b;
}

/* Catégories */ 
aside.categories {
margin:auto;
width:300px;
font-size:0.8em;
text-align:center;
}
table {
margin:auto;
font-size:0.95em;
text-align:center;
}
td {
border:1px dotted grey;
}
td:hover {
border:1px solid grey;
}

/* Source & ref */ 
aside.more-links {
float:right;
margin: 10px 45px 10px 0;
padding: 0 5px 0 30px;
border:dotted 1px #333333;
}
aside.more-links p:first-letter {
font-weight:bold;
color:#FF0000;
}

/* Ces articles vous plairont surement etc. */
#did-you-know {
margin-left:-14px!important;
}
#did-you-know, #similar, #complementary, #last-activity {
margin-left:-4px;
clear:right;
background: url('img/leplus2.PNG') no-repeat;
width:699px;
}

/*h3*/
section#content #fond-cont {
margin:0;
padding:0;
position:relative;
padding-top:16px;
padding-left:50px;
right:13px;
top:-16px;
background: url('img/content-top.PNG') no-repeat;
width:710px;
height:38px;
}
section > h3, #did-you-know h3 { /*couleur + deplacement */
color:#05617f;
padding: 5px 0 0 41px;
margin-left:9px;
position:relative;
top:-10px;
height:32px;
}
aside#did-you-know h3 {
background: url('img/sup1.PNG') left no-repeat;
}
section#similar h3 {
background: url('img/sup2.PNG') left no-repeat;
}
section#complementary h3{
background: url('img/sup3.PNG') left no-repeat;
}
#last-activity h3 {
background: url('img/sup5.PNG') left no-repeat;
}
#articles-from h3 {
background: url('img/sup6.PNG') left no-repeat;
}
aside.similar li, section#complementary li {
position:relative;
top:-15px;
list-style-type:circle;
list-style-position:inside;
}


/*Le petit plus pour briller en société*/
aside#did-you-know h3 + p {
padding-left:15px;
}
aside#did-you-know h3 + p:first-letter {
color:#FF0000;
font-weight:bold;
}
aside#did-you-know p.source-anecdote {
text-align:right;
padding-right:20px;
margin-left:610px;
font-weight:bold;
background: url('img/sup4.PNG') left no-repeat;
}

/* séparations diverses */ 
hr#end_content{ /* fin du contenu */
background: url('img/bottom-c.jpg') top no-repeat;
height:28px;


}
hr.court{ /* fin du contenu */
position:relative;
right:25px;
}
hr#end_content2{ /* fin du contenu */

background: url('img/bottom-r.jpg') no-repeat;
height:44px;
width:262px;
}
hr, hr.court {
background: url('img/separation-m.jpg') no-repeat;
width:712px;
height:82px;
margin:0;
padding:0;
}
section hr {
background: url('img/separation-m.jpg') no-repeat;
width:712px;
height:82px;
margin-left:-10px;
}
hr.footnote {
background: url('img/separation03.jpg') no-repeat;
margin-left:25px;
width:600px;
height:1px;
}

/*============================*/
/*        Autres pages       */
/*===========================*/

/*  Page d'Accueil + omni start - */
#previous-article h3 { /* titre + logo */
position:relative;
top:-15px;
background: url('img/previous.PNG') left no-repeat;
height:45px;
color:#05617f;
padding-left:68px;
margin-right:10px;
padding-top:10px;
}
/* longue barre bleue à gauche du texte */
#content .omnilogisme, .omni_start .omnilogisme > p:first-child, article.presentation, #Typo_preview { 
position:relative;
background: url('img/omni-texte.jpg') left top repeat-y;
margin: 0 0 0 5px;
padding:0 5px 10px 10px;
text-align:justify;
font-family: FreeSerif, Sylfaen, Optima, "Times New Roman", Arial, serif;
font-size:1.24em;
min-height:50px;
}

section#content .omnilogisme a, #Typo_preview a{
text-decoration:none;
color:#0033FF;
}
section#content .omnilogisme a:hover, #Typo_preview a:hover{
text-decoration:underline;
}
.omnilogisme p:first-letter, article.presentation p:first-letter {
font-weight:bold;
color: red;
margin-left:15px;
}
.omnilogisme ol ul{
margin-left:18px;
list-style: inside circle;
}
.omnilogisme ol {
padding-left:18px;
list-style:decimal;
}
.omnilogisme ul {
margin-left:18px;
list-style-type:square;
}
.omnilogisme ul ul{
list-style-type:circle;
}
caption {
color:rgb(36,63,96);
border:1px solid black;
}


.omni_start {
position:relative;
}
.omni_start:before{
z-index:5;
position:absolute;
top:-28px;
left:-5px;
content: "";
margin-top:10px;
width:700px;
height:37px;
background: url('img/previous.jpg') top repeat-x;
}

#learn-more a { /* en savoir plus - articles */
background: url('img/sup4.PNG') top no-repeat;
line-height:16px;
margin-left:450px;
padding-left:110px;
}

/*  Teaser */
.read-more {
position:relative;
text-align:right;
margin-right:50px;
pading-top:10px;
top:-10px;
}
.read-more :before{
position:absolute;
left:528px;
content: "";
display:block;
height:16px;
width:16px;
background: url('img/sup4.PNG')  right no-repeat;
}

aside.pager {
padding-top:20px;
text-align:right;
padding-right:10px;
font-weight:bold;
padding-bottom:20px;
}
aside.pager a {
border:1px solid #d4d4d4;
display:inline-block;
height:20px;
width:20px;
text-align:center;
}
aside.pager a:hover {
border:1px solid #787878;
background-color:#5e99c6;
color:#FFFFFF;
display:inline-block;
height:20px;
width:20px;
text-align:center;
text-decoration:none;
}
span.nb-total {
color:#0099FF;
font-weight:normal;
}

section#last-activity ul {
list-style:decimal;
list-style-position:inside;
}
section#last-activity ul small {
color:#999999;
font-size:10px;
}
section.omni_teaser, aside.roles {
background: url('img/separation.jpg') top no-repeat;
padding-top:20px;
padding-right:15px;
padding-left:10px;
margin-left:-10px;
clear:left;
}
section.omni_teaser img {
float:left;
margin-left:15px;
margin-bottom:10px;
}


section.omni_teaser h2, section.omni_teaser p {
position:relative;
left:10px;
}

/*  Liste des auteurs */
section#content > h4, section#content > h4 + p {
padding-left:10px;
}

section#content h1 + ol li {
list-style-type:decimal;
list-style-position:inside;
line-height:15px;
}
section#content h1 + ol li a {
font-weight:bold;
}
section#content h1 + ol li ul li {
font-size:12px;
list-style-type:square;
list-style-position:inside;
}
section#content h1 + ol
{
-moz-column-width: 150px;
-moz-column-rule: 1px solid #CCCCCC;
-moz-column-gap: 30px;
-webkit-column-width: 150px;
-webkit-column-gap: 30px;
-webkit-column-rule: 1px solid #CCCCCC;
}


/* ligne editoriale */

h3[id*="ligne"] p {
margin-left:20px;
}

/*======*/
/*Footer*/
/*======*/

footer {

clear:right;
}

div#footer-f {
background: url('img/footer-b.jpg') bottom repeat-x;
height:199px;

}
div#footer-g {
background: url('img/footer-r.jpg') repeat-x;
height:325px;
}
aside#footers {
background: url('img/footer-f.jpg') no-repeat;
width:960px;
height:300px;
margin:0 auto;
width:960px;
}
footer h3 {
letter-spacing:2px;
font-weight:normal;
font-family: "Myriad Pro";
font-size:18px;
color:#FFFFFF;
margin: 10px 0 0 -22px;
padding: 10px 0 0 30px;
}

section#about {
color:#FFFFFF;
background: url('img/footer-content.PNG') no-repeat;
padding:0 10px;
float:left;
width:253px;
height:266px;
}
section#about h3 {
background: url('img/apropos.PNG') no-repeat;
}
section#about p {
line-height:22px;
width:215px;
}
section#about p:first-letter {
float:left;
font: bold 3em/1em Georgia, "Times New Roman", Times, serif;
color:#FFFFFF;
padding:1px;
margin-top:5px;
}

section#partners {
color:#FFFFFF;
background: url('img/footer-content.jpg') no-repeat;
float:left;
padding:0 10px;
width:253px;
height:286px;
}
section#partners h3 {
background: url('img/partner.PNG') no-repeat;
}
section#partners li {
list-style-type:circle;
list-style-position:inside;
}
section#partners li a {
color:#FFFFFF;
}

#bas {
margin:0 auto;
width:960px;
clear:left;
line-height:10px;
}
#ribbon {
color:#8d8d8d;
width:200px;
float:left;
text-transform:uppercase;
}
#ribbon small a {
color:#8d8d8d;
}
#html5-valid{

color:#FFFFFF;
float:left;
padding-left:15px;
margin-left:666px;
}
